$headercolor: #0b1728ff;
$accent: #2ca089ff;

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background: $headercolor;
}

mat-nav-list a {
  color: white;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-family: freeserif-medium;
}

mat-toolbar a:hover {
  color: $accent;
}

.toolbar {
  background-image: url("../../assets/topography.svg");
  background-repeat: repeat;
  background-position: top 50px left;
  height: 50px;
  background-color: $headercolor;
}
