$headercolor: #0b1728ff;

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background: rgba(41, 61, 117, 0.9);
}

.sidenav .mat-toolbar {
  font-weight: bold;
  /* box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24); */
  color: white;
  background: rgba(41, 61, 117, 0.384);
}

mat-nav-list a {
  color: white;
}

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.toolbar {
  background-image: url("../../assets/topography.svg");
  background-repeat: repeat;
  background-position: top 50px left;
  height: 50px;
  background-color: $headercolor;
}
