$headercolor: #0b1728ff;
$sidebar: #373e48ff;
$accent: #2ca089ff;

.spacer {
  flex: 1 1 auto;
}

@supports not (display: grid) {
	.site {
		max-width: 50em;
		margin: 0 auto;
	}
}

@supports (display: grid) {
  .masthead {
    grid-area: masthead;
    background-color: $headercolor;
    background-image: url("../assets/topography.svg");
    background-repeat: repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 400px;
  }

  .masthead button {
    padding: 10px;
    margin: auto;
  }

  .bio {
    grid-area: bio;
    background-color: $sidebar;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 30px 40px 30px 40px;
  }

  .avatar {
    grid-area: avatar;
    padding: 80px 50px 50px 80px;
    z-index: 1;
    background-color: $sidebar;
  }
  .avatar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $accent;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid $accent;
  }

  // .avatar {
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 250px;
  //   height: 250px;
  //   border-radius: 50%;
  //   border: 10px solid $accent;
  // }

  // .btext {
  //   padding-left: 50px;
  // }

  .education {
    grid-area: education;
    background-image: url("../assets/noisy-texture-300x300.png");
    background-repeat: repeat;
    padding: 30px 50px 30px 50px;
  }
  .experience {
    grid-area: experience;
    background-image: url("../assets/noisy-texture-300x300-mint.png");
    background-repeat: repeat;
    background-color: rgba(203, 225, 247, 0.459);

    padding: 30px 50px 30px 50px;
  }
  .skills {
    grid-area: skills;
    background-color: $sidebar;
  }
  .projects {
    grid-area: projects;
    background-color: cyan;
  }
  .contact {
    grid-area: contact;
    background-color: black;
  }

  @media screen and (min-width: 600px) {
    .site {
      display: grid;
      grid-gap: none;
      height: 100vh;
      grid-template-columns: 1fr 1fr;
      // grid-template-rows: repeat(auto, 500px);
      grid-template-areas:
      "masthead masthead"
      "avatar bio"
      "education education"
      "experience experience"
      "skills skills"
      "projects projects"
      "contact contact";
    }
  }

  @media screen and (min-width: 1200px) {
    .site {
			grid-template-columns: 2fr 1fr 1fr;
      // grid-template-areas:
      //   "masthead masthead masthead"
      //   "education education bio"
      //   "experience experience bio"
      //   "projects projects skills"
      //   "contact contact contact";
    }

    .masthead {
      grid-area: 1 / 1 / 2 / 4;
    }

    .bio {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      grid-area: 2 / 3 / 3 / 4;
      padding: 150px 40px 30px 40px;
    }

    .avatar {
      grid-area: 2 / 3 / 2 / 4;
      background-color: transparent;
      margin-left: auto;
      margin-right: auto;
      margin-top: -270px;
      z-index: 1;
    }
    .avatar img {
      width: 350px;
      height: 350px;
    }

    .education {
      grid-area: 2 / 1 / 3 / 3;
    }

    .experience {
      grid-area: 3 / 1 / 4 / 3;
    }

    .skills {
      grid-area: 3 / 3 / 5 / 4;
    }

    .projects {
      grid-area: 4 / 1 / 5 / 3;
    }

    .contact {
      grid-area: 5 / 1 / 6 / 4;
    }
  }
}
