// @import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: freefont-medium;
  // src: url("assets/freeserif-font/FreeSerif-YO4a.otf");
  src: url("assets/freeserif-font/FreeSerif-4aeK.ttf");
}


html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
